= button_tag 'Flip Card', id: 'flip-card', class: 'btn'
%h3= card
.front-content.card-content
  %h4 Front
  .card-side
    .content
      :markdown
        #{card.front_content}

.back-content.card-content
  %h4 Back
  .card-side
    .content
      :markdown
        #{card.back_content}

:javascript
  $('#flip-card').on('click', function(){
    $('.back-content').toggle();
    $('.front-content').toggle();
  });
