.front-content.card-content
  %h3 Front
  .card-side
    :markdown
      #{card.front_content}

.back-content.card-content
  %h3 Back
  .card-side
    :markdown
      #{card.back_content}

:javascript
  $('.front-content .card-side').on('click', function(){
    $('.back-content').toggle();
  });
