@import 'bootstrap';
@import "compass/css3";

$card-unit: 8em;
$card-background-color: #f6f6f6;
$drop-shadow-color: rgba(black, 0.2);

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  margin-top: 50px;
  background-color: white;
}

.card-side{
  padding: 1em;
  width: 5 * $card-unit;
  height: 3 * $card-unit;
  background-color: $card-background-color;
  @include border-radius(1em);
  @include single-box-shadow($drop-shadow-color);
}

.front-content .card-side{
  cursor: pointer;
}

.back-content{
  display: none;
  clear: right;
}

.card-content{
  float: left;
  margin-right: 2em;
}
