%ul.breadcrumb
  %li= title(t('.title'))

= link_to bootstrap_icon('plus') + ' ' + t('.new_deck'), new_deck_path, :rel => 'new-deck', :class => 'btn'

%table.table.table-striped.decks
  %thead
    %tr
      %th Name
  %tbody
    - @decks.each do |deck|
      %tr
        %td.name= link_to(deck.name, deck_path(deck))
