.card
  = render 'cards/card', card: @card
  .answer-ui
    = semantic_form_for @answer, :url => card_answers_path(@card) do |f|
      = button_tag t('.correct'), name: 'correct'
      = button_tag t('.incorrect'), name: 'incorrect'
